.app {
  display: flex;
  flex-direction: row;
  background-color: rgb(187, 196, 187);
  background-size: cover;
  width: 1940px;
}

.main-layout {
  display: flex;
  flex-direction: column;
  
}

.main-content {
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  .main-content {
    grid-template-columns: 1fr;
  }

  .sidebar {
    display: none;
  }
}
.right-container{
  width: 450px;
  display: flex;
  flex-direction: column;

}